body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 50px;
}
.heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.question {
  min-width: 350px;
}
.section {
  margin-left: 2em;
  margin-right: 2em;
}

.feedback,
.correct-answers {
  align-self: center;
}
button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.correct {
  color: green;
}
.wrong {
  color: red;
}
